[submodule "https:/github.com/aikchongtan/hybrid-cloud-controller.git"]
	path = https:/github.com/aikchongtan/hybrid-cloud-controller.git
	url = https://github.com/aikchongtan/hybrid-cloud-controller-specs.git
